:root {
  --primary-color: #be93b7;
  --secondary-color: rgb(72, 25, 64);
  --tertiary-color: #ffffff0d;
  --quaternary-color: #93BEA9;
  --quinary-color: #fff9;
}
body {
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;

}